<div class="topic" id="aboutus">
    <div class="c">
        <h2>About Us</h2>
        <p>
            We are focused on delivering value to your business. We believe in powerful, strategic applications that will distinguish you from your competitors while making your business more successful and valuable. Our a team of professionals have achieved the highest certification levels in technology and development methodology. This enables us to deliver consistently on time, on budget and above all with strong user adoption.
        </p>
    </div>
</div>