<div class="topic" id="contacts">
    <div class="c">
        <h2>Contact Us</h2>
        <ul class="c2">
            <li>
                <div>
                    <h5>We are at</h5>
                    <p>
                        Rua Diogo Cão, 34<br>3080-318 Figueira da Foz<br> Portugal
                    </p>
                </div>
            </li>
            <li>
                <div>
                    <h5>Contact Information</h5>
                    <p>
                        @Model.phone<br>
                        Email us at <a href="mailto:@Model.email">@Model.email</a>
                    </p>
                </div>
            </li>
        </ul>
    </div>
</div>