@{
    @using itGlee.Models;
    var menuitems = MenuItem.GetMenuItems();
}
<header class="header-menu">
    <a href="/">
        <div class="cd-logo">
            <div class="logo" title="itGlee" id="logo"></div>
        </div>
    </a>
    <a class="cd-nav-trigger"><span></span></a>
    <nav class="cd-main-nav-wrapper">
        <ul class="cd-main-nav">
            @foreach (var item in menuitems)
            {
                <li><a href="@item.Href" class="menu-link">@item.Description</a></li>
            }
        </ul>
    </nav>
</header>