@{
    @using itGlee.Models;
    List<Service> services = Service.GetServices();
}
<div class="topic services-grid" id="services">
    <div class="c">
        <h2>Services</h2>
        <div class="services-flex-row">
            @foreach (var service in @services)
            {
                <div class="services-flex-row-item services-block">
                    <h4>@service.title</h4>
                    <p>@service.description</p>
                </div>
            }
        </div>
    </div>
</div>