@page
@model IndexModel
@{
    ViewData["Title"] = "itGlee";
}

<div id="main">
    <partial name="_Header" />
    <div id="container" class="cd-main-content">
        <partial name="_banner" />
        <partial name="_Services" />
        <partial name="_Partners" />
        <partial name="_AboutUs" />
        <partial name="_Contacts" />
    </div>
    <partial name="_Footer" />
    <script type="text/javascript">
        (function () {
            initNav();
        })();
    </script>
</div>
