<div id="title">
    <div class="c">
        <ul class="c2">
            <li>
                <div>
                    <img src="/images/banner.png">
                </div>
            </li>
            <li>
                <div style="padding: 30px">
                    <span class="title">it Glee</span>
                    <h1>agile with a Smile solutions</h1>
                </div>
            </li>
        </ul>
    </div>
</div>