@{
    string url = System.Environment.GetEnvironmentVariable("ASPNETCORE_ENVIRONMENT") == "Development" ? "https://localhost:7172" : "https://www.itglee.com";
    string year = DateTime.Now.ToString("yyyy");
}
<footer>
    <div class="m10"></div>
    <div class="c center text-decoration-none">
        <a href="https://www.facebook.com/itglee2015/" target="_blank" title="Go to Facebook" class="text-decoration-none">
            <img src="/images/footer/fb_a.png">
        </a>
        <a href="http://linkedin.com/company/itglee" target="_blank" title="Go to linkedin" class="text-decoration-none">
            <img src="/images/footer/linkedin_a.png">
        </a>
    </div>
    <div style="clear: both"></div>
    <div class="copyright">
        @year © <a href="@url" target="_blank">itGlee, Lda.</a>All Rights Reserved
    </div>
</footer>