@{
    @using itGlee.Models;
    var partners = Partner.GetPartners();
}

<div class="topic" id="partners">
    <div class="c">
        <h2>Partners</h2>
        <div class="grid-partner">
            @foreach (var partner in @partners)
            {
                <a href=@partner.Href title=@partner.Title>
                    <img class="cell-partner" src=@partner.Src title=@partner.Title>
                </a>
            }
        </div>
    </div>
</div>